.multi-step-form {
    padding: 2rem 1rem;
}

.action-btn {
    padding: 20px;
    display: flex;
    gap: 5px;
    justify-content: center;

    button {
        font-size: 14px;
        padding: 6px 12px;
        margin-bottom: 0;
        border-radius: 4px;
    
        display: inline-block;
        text-decoration: none;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }
}